/PiBooking/PiBooking.UI/node_modules
/PiBooking/PiBooking.UI/wwwroot
/PiBooking/PiBooking.UI/obj
obj
/.vs/C868/DesignTimeBuild/.dtbcache
/.vs/C868/v16/Server/sqlite3/storage.ide
/.vs/C868/v16/Server/sqlite3/db.lock
/.vs/C868/v16/.suo
/PiBooking/.vs/PiBooking/DesignTimeBuild/.dtbcache
/PiBooking/.vs/PiBooking/v15/Server/sqlite3/storage.ide-wal
/PiBooking/.vs/PiBooking/v15/Server/sqlite3/storage.ide-shm
/PiBooking/.vs/PiBooking/v15/Server/sqlite3/storage.ide
/PiBooking/.vs/PiBooking/v15/Server/sqlite3/db.lock
/PiBooking/.vs/PiBooking/v15/.suo
/PiBooking/PiBooking.Core/bin/Debug/netstandard2.0
/PiBooking/PiBooking.API/bin/Debug/netcoreapp2.1
/PiBooking/.vs/PiBooking/v16
/PiBooking/PIBooking.Infrastructure/bin/Debug/netstandard2.0
/PiBooking/PiBooking.UI/.chrome/Default/Cache
/PiBooking/PiBooking.UI/.chrome
