USE [E:\CODE\C868\PIBOOKING\PIBOOKING.INFRASTRUCTURE\PIBOOKING.MDF]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 9/30/2019 10:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[HasPaid] [bit] NOT NULL,
	[Signature] [varchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Total] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Order_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_HasPaid]  DEFAULT ((0)) FOR [HasPaid]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Job]
GO
