<template>

    <h1>Blocked Timeslots</h1>
    <p>Below are timeslots currently blocked for purchase. </p>

    <div show.bind="errors" id="errors" role="alert" class="alert alert-danger">{{errors}}</div>
    <div if.bind="message" class="alert alert-success" role="alert">{{message}}</div>
    <div class="form-group">
        <button class="btn btn-outline-secondary  minimumwidth15em " click.delegate="add()"><i
                class="fa fa-plus"></i>Add</button>
    </div>

    <div>
        <ej-grid e-enable-responsive-row=true e-is-responsive=true e-data-source.bind="timeslots" e-allow-paging=true
            e-allow-sorting=true>
            <ej-column e-width="7em" e-field="timeslotId" e-header-text="ID" e-text-align="right"></ej-column>
            <ej-column e-width="9em" e-field="engineerID" e-header-text="Engineer ID" e-text-align="right"></ej-column>
            <ej-column e-type="datetime" e-field="beginDatetime" e-format="{0:MM/dd/yyyy hh:00 tt}"
                e-header-text="Begin Date" e-text-align="right"></ej-column>
            <ej-column e-type="datetime" e-field="endDatetime" e-format="{0:MM/dd/yyyy hh:00 tt}"
                e-header-text="End Date" e-text-align="right"></ej-column>
            <ej-column e-field="rate" e-header-text="rate" e-text-align="right"></ej-column>
            <ej-column e-field="Status" e-header-text="status" e-text-align="right"></ej-column>
            <ej-column e-width="7em" e-header-text="Edit" e-text-align="right">
                <ej-template>
                    <a click.delegate="edit(timeslotId)" class="btn btn-default "><i class="fas fa-edit"></i>Edit</a>
                </ej-template>
            </ej-column>
            <ej-column e-width="7em" e-header-text="Delete" e-text-align="right">
                <ej-template>
                    <a click.delegate="delete(timeslotId)" class="btn btn-default "><i
                            class="far fa-trash-alt"></i>Delete</a>
                </ej-template>
            </ej-column>

        </ej-grid>
    </div>

</template>