<template>
    <require from="../../gotoroute/gotoroute"></require>
    <br/>
    <div class="alert alert-success" role="alert">
        <p>Thank you for your request!</p>
        <p>You will shortly receive an email confirming the details of your request!</p>
        <p>We will be in touch shortly to finalize any details. Thank you again!</p>
    </div> 
    <div id="navigation" class="row paddingtop10">
        <div class="col-sm-12  btn-group">
            <button go-to-route="route: start"  class="btn btn-default minimumwidth15em"><span class="glyphicon glyphicon-arrow-right"></span>Start New Order</button>
        </div>
    </div>
</template>