<template>
    <require from="../../gotoroute/gotoroute"></require>
    <require from="../../../resources/currency-format"></require>
    <require from="./step5.css"></require>
    <br />
    <div class="alert alert-info" role="alert">
        Thank you ${currentOrder.customer.firstName}. You are requesting to book ${currentOrder.totalCount} hr(s). The
        total is ${currentOrder.totalAmount | currencyFormat}. We accept all major credit cards for payment.
        We will contact you to arrange payment. Please click submit to finalize this request.
    </div>
    <!-- Used to display form errors -->
    <div show.bind="showErrors" id="errors" role="alert" class="alert alert-danger"></div>

    <div id="navigation" class="row paddingtop10">
        <div class="col-sm-12  btn-group">
            <button go-to-route="route: step4" class="btn btn-default minimumwidth15em "><span
                    class="glyphicon glyphicon-arrow-left"></span> Previous Step</button>
            <button click.delegate="BookTime()" class="btn btn-default minimumwidth15em"><span
                    class="fa fa-check-square-o"></span>Submit</button>
        </div>
    </div>
</template>